.homeButton{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
.socialButton{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-top: 5px;
}

.buttonPanel {
    position: fixed;
    top: 10px;
    left: 1%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: transparent;;
}

head {
    margin-top: 2%;
    margin-left: 2%;
}

body {
    font-family: sans-serif;
}

.helloMessage {
    font-size: 30px;
    font-weight: bold;
}

.mainBody {
    margin-left: 10%;
}

.bioContainer {
    display: flex;
    margin-top: 50px;
    margin-right: 10%;
}

.bioFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.bioText {
    flex: 2;
    min-width: 250px;
}

.skillsFlex {
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
    flex: 1;
}

.skillList {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.skillContainer {
    display: inline-block;
    width: 150px;
}

@media (max-width: 800px) {
    .bioFlex{
        flex-direction: column;
    }
    .skillsFlex {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
    }
    .bioText {
        width: 100%;
    }
}

.skillIcon {
    width: 40px;
    height: 40px;
    float: left;
}

.skillText {
    float: right;
    margin-top: 10px;
    padding-left: 15px;
    text-align: right;
}

.contentSection {
    padding-bottom: 80px;
    padding-top: 20px;
    padding-right: 50px;
}

.sectionHeader {
    font-size: 18px;
    font-weight: bold;
}

.upper {
    background-color: #FFFFFF;
    color: black;
}
.lower {
    background-color: #413D46;
    color: #FFFFFF;
}

.upper, .lower {
    transition: background-color 0.8s ease;
    transition: color 0.8s ease;
}

.lowerHeading {
    color: #FFFFFF;
}

.contentHolder {
    
}

.portfolioItem {
    max-width: 75%;
    display: flex;
    padding: 20px;
    margin-top: 30px;
}

.imageContainer {
    border-radius: 20px;
    padding: 20px;
    float: left;
}

.piImage {
    object-fit: contain;
    max-width: 120px;
    max-height: 120px;
}

.descriptionContainer {
    vertical-align: top;
    float: left;
    background-color: #FFFFFF;
    border-radius: 20px;
}

p.itemDescription {
    display: block;
    margin-top: 30px;
    padding: 20px;
    color: black;
}

@media (max-width: 800px) {
    .portfolioItem {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .imageContainer {
        margin-bottom: 20px;
    }
}

.itemTag {
    float: left;
    margin-top: -30px;
    margin-bottom: 40px;
    margin-left: 20px;
    height: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.itemLink {
    height: 25px;
    width: 25px;
    margin: 10px;
    margin-left: 5px;
    float: right;
}